{# empty Twig template #}
{% extends "CdlrcodeBundle::layout.html.twig" %}
{% block content %}
<html>
    <head>
        
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASLkqFZIzy6z-T-FBIEtPV4caB-Q-ns-w"> </script>
        <script type="text/javascript">
            function initialize()
            {
                var lat=document.getElementById('lat').value;
                var long=document.getElementById('long').value;
                var marker;
                var mapOptions = { 
                //center: {lat: -34.397, lng:150.644}, 
                zoom: 8};
                var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
                var myLatlng= new google.maps.LatLng(long,lat);
                var mapOptions = {
                    zoom: 13,
                    center: myLatlng
                }
                    var map= new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
                    marker= new google.maps.Marker({position: myLatlng, map: map, title:"Nous sommes ici"});
            }
            google.maps.event.addDomListener(window,'load',initialize);
         </script>
    </head>
    <body>
        {% block container %}
        {% endblock %}
    </body>
</html>
{% endblock %}