{%extends "CdlrcodeBundle::layout.html.twig" %}
{% block content %}
    <div align="center">
        <h1>CoursVideo</h1>



        <video src="{{asset('uploads/videos/')~entity.path }}" controls>     </video>     


            <ul class="record_actions">
                <li>
                    <a href="{{ path('coursvideo') }}">
                        Back to the list
                    </a>
                </li>
              
                <li>{{ form(delete_form) }}</li>
            </ul>
    </div>
{% endblock %}
