{%extends "CdlrcodeBundle::layout.html.twig" %}
{% block content %}
    <div align="center">

    <h1>AutoEcole creation</h1>

    {{ form(form) }}

        <ul class="record_actions"  >
    <li>
        <a href="{{ path('autoecole') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
