<form class="form" method="post" enctype="multipart/form-data" align="center" >
    <h2>Ajouter un cours</h2>
    <table>
        <tr>
            <th>Titre</th><td><input type="text" name="fichier">
            </td>
        </tr>
        <tr>
            <th>Catégorie</th>
            <td>
                <select>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>

                </select>
            </td>
        </tr>
        <tr>
            <TD>
                <input type="file"</td>
            <td><button class="btn" type=""submit>Upload</button>

            </td>
        </tr>
    </table>
</form>