{%extends "CdlrcodeBundle::layout.html.twig" %}

{% block content %}
    <h1>Gerant edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('gerant') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
