{%extends "CdlrcodeBundle::layout.html.twig" %}

{% block content %}
    <div align="center">
    <h1>Gerant creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('gerant') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
